.container {
  width: 90%;
  margin: 0 auto;
}

body {
  background: #f5f9fe;
}

header {
  box-shadow: 0 2px 4px #e2ebfc;
}
header .logo {
  color: #2a73dd;
}
header a {
  color: #1d365e;
  transition: 0.3s;
  position: relative;
}
header a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background: #2a73dd;
  transition: 0.3s;
}
header a:hover::before, header a.active::before {
  width: 100%;
}
header a:hover {
  color: #2a73dd;
}
header a.active {
  color: #2a73dd;
}

.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-position: bottom;
}
.banner h2 {
  color: j #2a73dd;
}
.banner h3 {
  color: #1d365e;
}
.banner .btn-group .shop {
  border: 1px solid red;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 14px;
  background: linear-gradient(120deg, #60a4f4, #2a73dd);
  border: none;
  color: #f5f9fe;
}
.banner .btn-group .infor {
  border: 1px solid red;
  padding: 10px 35px;
  border-radius: 8px;
  font-size: 14px;
  color: #2a73dd;
  border-color: #2a73dd;
  transition: 0.3s;
}
.banner .btn-group .infor:hover {
  background: #2a73dd;
  color: #f5f9fe;
}

.products .list .item {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 12px;
  padding: 40px;
}
.products .list .item img {
  box-shadow: 6px 6px 12px #e2ebfc, -6px -6px 12px #fff;
  border-radius: 12px;
  width: 100%;
}
.products .list .item .content {
  display: flex;
}
.products .list .item .content .price {
  text-align: right;
}/*# sourceMappingURL=index.css.map */