// variable

$color-blue-1: #2a73dd;
$color-blue-2: #1d365e;
$color-blue-3: #60a4f4;

$color-white-1: #f5f9fe;
$color-white-2: #e2ebfc;
$color-white-3: #fff;

// mixin
@mixin btnTheme($borderRadius) {
  border: 1px solid red;
  padding: 10px 35px;
  border-radius: $borderRadius;
  font-size: 14px;
}
@mixin shadowTheme($base) {
  box-shadow: $base * 1px $base * 1px $base * 2px #e2ebfc, $base * -1px $base * -1px $base * 2px #fff;
  border-radius: 12px;
}
.container {
  width: 90%;
  margin: 0 auto;
}
// nested
body {
  background: $color-white-1;
}
header {
  box-shadow: 0 2px 4px $color-white-2;
  .logo {
    color: $color-blue-1;
  }
  a {
    color: $color-blue-2;
    transition: 0.3s;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      width: 0%;
      height: 3px;
      background: $color-blue-1;
      transition: 0.3s;
    }
    &:hover::before,
    &.active::before {
      width: 100%;
    }
    &:hover {
      color: $color-blue-1;
    }
    &.active {
      color: $color-blue-1;
    }
  }
}
.banner {
  background-image: url(../image/product-header-bg.jpg);
  background-size: cover;
  background-position: bottom;
  h2 {
    color: j $color-blue-1;
  }
  h3 {
    color: $color-blue-2;
  }

  .btn-group {
    .shop {
      @include btnTheme(8px);
      background: linear-gradient(120deg, $color-blue-3, $color-blue-1);
      border: none;
      color: $color-white-1;
    }
    .infor {
      @include btnTheme(8px);
      color: $color-blue-1;
      border-color: $color-blue-1;
      transition: 0.3s;
      //
      &:hover {
        background: $color-blue-1;
        color: $color-white-1;
      }
    }
  }
}

.products {
  .list {
    .item {
      @include shadowTheme(6);
      padding: 40px;
      img {
        @include shadowTheme(6);
        width: 100%;
      }
      .content {
        display: flex;
        .price {
          text-align: right;
        }
      }
    }
  }
}
